.justify-between {
    justify-content: space-between;
}
.justify-even {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-self-start {
    align-self: flex-start;
}
.align-self-center {
    align-self: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}