.bg-dark {
    background-color: $dark-accent;
}
.bg-very-dark {
    background-color: $very-dark;
}

.txt-green {
    color: $green;
}
.txt-black {
    color: black;
}
.txt-dark {
    color: $dark;
}