a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: 0.3s ease;

    &:hover {
        background-color: $link-background-color__hover;
        color: $link-color__hover;
    }
}