.sm-margin {
    margin: $small-margin;
}
.sm-margin-r {
    margin-right: $small-margin;
}
.sm-margin-l {
    margin-left: $small-margin;
}
.sm-margin-t {
    margin-top: $small-margin;
}
.sm-margin-b {
    margin-bottom: $small-margin;
}
.sm-margin-x {
    margin-left: $small-margin;
    margin-right: $small-margin;
}
.sm-margin-y {
    margin-top: $small-margin;
    margin-bottom: $small-margin;
}
.md-margin-y {
    margin-top: $md-margin;
    margin-bottom: $md-margin;
}
.md-margin-x {
    margin-left: $md-margin;
    margin-right: $md-margin;
}
.md-margin-r {
    margin-right: $md-margin;
}
.md-margin-l {
    margin-left: $md-margin;
}
.md-margin-t {
    margin-top: $md-margin;
}
.md-margin-b {
    margin-bottom: $md-margin;
}
.big-margin {
    margin: $big-margin;
}
.big-margin-r {
    margin-right: $big-margin;
}
.big-margin-l {
    margin-left: $big-margin;
}
.big-margin-t {
    margin-top: $big-margin;
}
.big-margin-b {
    margin-bottom: $big-margin;
}

.auto-margin {
    margin: auto;
}
.auto-margin-x {
    margin-left: auto;
    margin-right: auto;

}
.auto-margin-r {
    margin-right: auto;
}
.auto-margin-l {
    margin-left: auto;
}