.sm-pad {
    padding: $small-padding;
}
.sm-pad-x {
    padding-left: $small-padding;
    padding-right: $small-padding;
}
.sm-pad-y {
    padding-top: $small-padding;
    padding-bottom: $small-padding;
}
.sm-pad-r {
    padding-right: $small-padding;
}
.sm-pad-l {
    padding-left: $small-padding;
}
.sm-pad-t {
    padding-top: $small-padding;
}
.sm-pad-b {
    padding-bottom: $small-padding;
}
.md-pad {
    padding: $md-padding;
}
.md-pad-x {
    padding-left: $md-padding;
    padding-right: $md-padding;
}
.md-pad-y {
    padding-top: $md-padding;
    padding-bottom: $md-padding;
}
.md-pad-r {
    padding-right: $md-padding;
}
.md-pad-l {
    padding-left: $md-padding;
}
.md-pad-t {
    padding-top: $md-padding;
}
.md-pad-b {
    padding-bottom: $md-padding;
}
.big-pad {
    padding: $big-padding;
}
.big-pad-x {
    padding-left: $big-padding;
    padding-right: $big-padding;
}
.big-pad-y {
    padding-top: $big-padding;
    padding-bottom: $big-padding;
}
.big-pad-r {
    padding-right: $big-padding;
}
.big-pad-l {
    padding-left: $big-padding;
}
.big-pad-t {
    padding-top: $big-padding;
}
.big-pad-b {
    padding-bottom: $big-padding;
}