@font-face {
  font-family: "Making Stuffs Head";
  src: url("../fonts/OleoScript-Regular.woff");
  font-weight: 400;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: "Making Stuffs Head";
  src: url("../fonts/OleoScript-Bold.ttf");
  font-weight: 900;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: "Making Stuffs";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  display: swap;
  font-display: swap;
}
@font-face {
  font-family: "Making Stuffs";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  display: swap;
  font-display: swap;
}
@font-face {
  font-family: "Making Stuffs";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: lighter;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: "Making Stuffs Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
  display: swap;
  font-display: swap;
}

@font-face {
  font-family: "Making Stuffs Mono";
  src: url("../fonts/RobotoMono-Bold.ttf");
  font-weight: bold;
  display: swap;
  font-display: swap;
}
@font-face {
  font-family: "Making Stuffs Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
  font-weight: normal;
  display: swap;
  font-display: swap;
}
@font-face {
  font-family: "Making Stuffs Mono";
  src: url("../fonts/RobotoMono-Light.ttf");
  font-weight: lighter;
  display: swap;
  font-display: swap;
}
