/* RGB
---------------------------- */
$red: #D62C49;
$blue: #4169E1;
$light-blue: #EEEDFF;
$orange: #FFC45D;
$peach: #FF8E77;
$yellow: #F9F871;
$purple: #CB5FCE;
$pink: #FF65A3;
$lavender: #7363D6;
$teal:#1FC198;
$green: #3dba5b;


/* Pointer Actions
---------------------------- */
$focus: $orange;
$focus-alternate: #333;

/* Light/Dark
---------------------------- */
$dark-accent: #333;
$dark: #333;
$very-dark: #1b1b1b;

/* Components
---------------------------- */
$container-background: white;
$container-text: rgba(Black, 0.8);
$container-header: rgba(Black, 0.9);

/* Buttons
----------------------------- */
$button-color: $green;
$button-text: #333;
$button-hover: royalBlue;
$button-hover-text: rgba(White, 0.8);
$button-border__focus: orange;
$button-border: transparent;

/* Link colors
----------------------------- */
$link-background-color__hover: $green;
$link-color__hover: white;
$link-color: white;

/* Brand Colours
----------------------------- */
$facebook: #3b5998;
$twitter: #1da1f2;
$github: #4078c0;
$instagram: #c13584;
$linkedin: #0077b5;
$reddit: #ff4500;
$social-medium: #00ab6c;
$freecodecamp: #006400;
$stackoverflow: #f48024;