/*Icons -- Used in social-icons
------------------------------- */
$tiny-icon-width: 1.5rem;
$tiny-icon-height: 1.5rem;
$small-icon-width: 2rem;
$small-icon-height: 2rem;
$md-icon-width: 2.5rem;
$md-icon-height: 2.5rem;
$big-icon-width: 3rem;
$big-icon-height: 3rem;