.stuffs-modal {
  .stuffs-modal__wrapper {
    .stuffs-modal__header {
      text-align: center;

      h4 {
        display: inline-block;
        align-self: center;
        position: relative;
        max-height: unset;
        font-family: "Making Stuffs Head";
        margin: 2rem 0;
        color: white;
        transform: rotate(-2deg);
        background-color: $green;
        padding: 1rem;

        i {
          background-color: white;
          padding: 0.25rem;
          margin-right: 0.5rem;
        }
      }

      p {
        margin: 1rem 0;
      }
    }

    .stuffs-modal__content {
      border: none;
    }
  }
}
