header.header-home__wrapper {
  height: 100vh;
  height: calc(var("--vh", vh) * 100);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .header-home__button {
    border: none;
    padding: 1rem;
    position: fixed;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 0.6rem rgba(black, 0.3);
    z-index: 10;
    height: auto;
    width: auto;

    &.menu {
      top: 0;
      right: 0;
      border-radius: 0 0 0 20px;
    }

    &.contact {
      bottom: 0;
      left: 0;
      border-radius: 0 20px 0 0;
    }
  }

  .header-home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-home__heading {
      text-align: center;
      font-size: 3rem;
      font-family: "Making Stuffs Head";
      margin: 1rem 0;

      span[green] {
        color: $green;
      }

      .header-home__heading-span {
        width: 100%;
        font-size: 1rem;
        display: block;
        color: rgba($green, 0.7);
        font-family: "Making Stuffs Mono";
        margin: 0.5rem;
      }
    }

    .header-home__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Making Stuffs Mono";
      opacity: 0.7;

      .header-home-social__open-bracket,
      .header-home-social__close-bracket,
      .header-home-social__icons {
        margin: 0.25rem 0;
      }

      .header-home-social__close-bracket,
      .header-home-social__open-bracket {
        color: $light-blue;
      }

      .header-home-social__open-bracket {
        align-self: flex-start;
      }

      .header-home-social__icons {
        display: flex;

        a {
          text-decoration: none;
          font-size: 1rem;
          color: white;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: flex;
          align-self: center;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease;
          margin: 0.25rem;
          position: relative;

          &[href*="twitter"]:hover,
          &[href*="github"]:hover {
            background-color: $button-hover;
          }

          &[href*="twitter"] {
            background-color: $twitter;
          }
          &[href*="github"] {
            background-color: $github;
          }
        }
      }
    }
  }
}
