footer {
    padding: 2rem 0 0 0;
    background-color: #333;

    .footer-links {
        display: block;
        list-style: none;
        color: white;
        border-top: 1px solid rgba(white, 0.3);
        padding: 2rem 0 ;
        margin-top: 2rem;

        .footer-link {
            display: inline-block;
            margin: 0 1rem;
            
            a {
                font-weight: lighter;
                font-size: 0.75rem;
            }
        }
    }

    .footer-credit-bar {
        background-color: #232323;
        width: 100%;
        color: rgba(white, 0.8);
        font-weight: lighter;
        font-size: 0.75rem;
        text-align: right;
        padding: 1rem;
    }
}